p.blurb For most of the world, life had improved after the implementation of the Basic Human Standard and the formation of the Global Federation of Nations. However, after fifteen years, there are still people who fight against the principles of the organization. Natalie Kelley is a journalist for the Chicago Tribune, reporting on American terrorist groups in opposition to the GFN. When an Oklahoma City restaurant is attacked, Natalie travels to investigate the incident. Soon, Natalie begins to question whether the assault was an amateur action or part of a larger conspiracy. Following Natalie and a cast of characters from both sides of the battle, The Grey Zone explores the ramifications of an exceedingly globalized planet as conflicting ideologies clash across the United States. 
p  Learn  more and stay up to date on <br>
  a(href="https://www.facebook.com/TheGreyZoneBook/", target="_blank" id="fb_link") <img src="/img/facebook.svg" alt="facebook icon" id="facebook"> facebook 

h3 Releasing October 13, 2017

p Preorder a copy
p You can have your book shipped to your home ($2.99 for shipping costs) or pick up your copy at our book signing party (date TBD). Select between hardcover or paper back below: 
