html
  head
    title The Grey Zone
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="dope")
    link(href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400" rel="stylesheet")
    link(rel="stylesheet" href="css/main.css")
    link(rel="canonical" href="http://localhost:4000/")
  body
    section
      h1.title The Grey Zone 
    main.desktop
      section.col-70
        img(class="bookPhoto"  src="/img/bookPhoto.png" alt="The Grey Zone by Jason McMillan")
        .bioWrapper
          img(class="headshot" src="/img/headshot.png" alt="Author Jason McMillan")
          .bio
            h4 Jason McMillan 
            p Is the author of The Grey Zone. It is his debut novel. He attended the University of Nebraska and currently resides in Omaha. 

      section.col-40
        .Graphicsquare
        .blurbWrapper
          .borderWrap
            h2 The Future is Grey
          
          include blurb
          .formWrapper
            form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
              input(type='hidden', name='cmd', value='_s-xclick')
              input(type='hidden', name='hosted_button_id', value='X54CGG5T8A3FA')
              table
                tr
                  td
                    input(type='hidden', name='on0', value='Options:')
                    | Options:
                tr
                  td
                    select(name='os0')
                      option(value='Paperback (Shipped To Home)') Paperback (Shipped To Home) $19.03 USD
                      option(value='Hardcover  (Shipped To Home)') Hardcover  (Shipped To Home) $29.73 USD
                      option(value='Paperback (Pick Up)') Paperback (Pick Up) $16.04 USD
                      option(value='Hardcover (Pick Up)') Hardcover (Pick Up) $26.74 USD
              input(type='hidden', name='currency_code', value='USD')
              input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
              img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1') 
        .Graphicsquare.reverse
    main.mobile
      section.col-100
        img(class="bookPhoto"  src="/img/bookPhoto.png" alt="The Grey Zone by Jason McMillan")
        .blurbWrapper
          .borderWrap
            h2 The Future is Grey
          include blurb
          .formWrapper
            form(target='paypal', action='https://www.paypal.com/cgi-bin/webscr', method='post')
              input(type='hidden', name='cmd', value='_s-xclick')
              input(type='hidden', name='hosted_button_id', value='X54CGG5T8A3FA')
              table
                tr
                  td
                    input(type='hidden', name='on0', value='Options:')
                    | Options:
                tr
                  td
                    select(name='os0')
                      option(value='Paperback (Shipped To Home)') Paperback (Shipped To Home) $19.03 USD
                      option(value='Hardcover  (Shipped To Home)') Hardcover  (Shipped To Home) $29.73 USD
                      option(value='Paperback (Pick Up)') Paperback (Pick Up) $16.04 USD
                      option(value='Hardcover (Pick Up)') Hardcover (Pick Up) $26.74 USD
              input(type='hidden', name='currency_code', value='USD')
              input(type='image', src='https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif', border='0', name='submit', alt='PayPal - The safer, easier way to pay online!')
              img(alt='', border='0', src='https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width='1', height='1')      
      section.col-100
        .bioWrapper
          img(class="headshot" src="/img/headshot.png" alt="Author Jason McMillan")
          .bio
            h4 Jason McMillan 
            p Is the author of The Grey Zone. It is his debut novel. He attended the University of Nebraska and currently resides in Omaha. 


    footer
      p &copy; 2017 Rooney Publishing <span class="piper">|</span> <a href="http://brycestradling.com">Webdesign by Bryce Stradling</a>
